<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Tonic.MVVM.Locator" version="1.0.5815.23727" targetFramework="net45" />
  <package id="Tonic.MVVM.VMBase" version="1.0.5829.19939" targetFramework="net45" />
  <package id="Tonic.UI.Host" version="1.0.5826.21306" targetFramework="net45" />
  <package id="Tonic.UI.ViewBehaviours" version="1.0.5826.17285" targetFramework="net45" />
</packages>